
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="Web para encontrar trabajo o empleados">
    <meta name="keywords" content="Talenter, Ttrabajo, Work, Match">
    <meta name="author" content="Adrian Iglesia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="~/Content/accountInfo.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <nav class="navbar fixed-top navbar-light">
                <a class="navbar-brand" href="#">Talenter</a>
                <form class="form-inline">
                    <label class="mr-sm-2">Adrian Iglesia</label>
                    <a href="#">
                        <img src="/Content/images/yo.jpg" width="50" height="50" class="d-inline-block align-right mr-sm-2 " alt="user">
                    </a>
                </form>
            </nav>
        </div>
    </div>

    <div class="main">
        <div class="title-head ">
            <div class="title-section align-self-start ">
                <h1 class="border-bottom border-info">Configuracion Personal</h1>
            </div>
        </div>

        <div class="container">
            <div class="general-info border border-info rounded">
                <h2>General</h2>
                <form>
                    <div class="form-row">
                        <div class="form-group col-10">
                            <p class="">Agregar/Modificar su foto de perfil</p>
                            <img src="/Content/images/yo.jpg" class="rounded float-left" alt="insert-image" width="200" height="200">

                        </div>
                        <div class="form-group col-4">
                            <label for="nombre">Nombre</label>
                            <input class="form-control input-field" id="nombre" type="text" placeholder="Ingrese su nombre">
                        </div>
                        <div class="form-group col-4">
                            <label for="apellido">Apellido</label>
                            <input class="form-control input-field" id="apellido" type="text" placeholder="Ingrese su apellido">
                        </div>

                        <div class="form-group col-4">
                            <label for="dni">DNI</label>
                            <input class="form-control input-field" id="dni" type="text" placeholder="Ingrese su DNI">
                        </div>

                        <div class="form-group col-6">
                            <label for="email">Correo electronico</label>
                            <input class="form-control input-field" id="email" type="text" placeholder="Ingrese su Correo electronico">
                        </div>

                        <div class="form-group col-6">
                            <label for="domicilio">Domicilio</label>
                            <input class="form-control input-field" id="domicilio" type="text" placeholder="Ingrese su domicilio Calle/altura">
                        </div>

                        <div class="form-group col-4">
                            <label for="pais">Pais</label>
                            <select onchange="displayBarrio()" class="custom-select" id="pais">
                                <option value="">Seleccione un Pais</option>
                                <option value="0">Argentina</option>
                            </select>
                        </div>

                        <div class="form-group col-4">
                            <label for="prov">Provincia</label>
                            <select onchange="displayBarrio()" class="custom-select" id="prov">
                                <option value="">Seleccione una provincia</option>
                                <option value="0">Buenos Aires</option>
                                <option value="1">Ciudad de Buenos Aires</option>
                                <option value="2">Cordoba</option>
                                <option value="3">Entre Rios</option>
                                <option value="4">Mendoza</option>
                            </select>
                        </div>

                        <div class="form-group col-4">
                            <label for="localidad">Localidad</label>
                            <select onchange="displayBarrio()" class="custom-select" id="local">
                                <option value="">Seleccione una localidad</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="profesional-info border border-info rounded">
                <h2>Profesional</h2>
                <form>
                    <div class="form-row">
                        <div class="form-group col-4">
                            <label for="ambito">Ambito</label>
                            <select class="custom-select" id="ambito">
                                <option value="">Seleccione uno</option>
                                <option value="0">IT</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="especialidad">Especialidad</label>
                            <select class="custom-select" id="especialidad">
                                <option value="">Seleccione una</option>
                                <option value="0">Programador frontend</option>
                                <option value="1">Programador backend</option>
                                <option value="0">Analista funcional</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="exp">Experiencia</label>
                            <select class="custom-select" id="exp">
                                <option value="">Experiencia</option>
                                <option value="0">Sin experiencia</option>
                                <option value="1">1-2 anios</option>
                                <option value="0">3-4 anios</option>
                                <option value="0">5+ anios</option>
                            </select>
                        </div>
                        <div class="form-group col-12 ">
                            <label for="exampleFormControlTextarea1">Sobre vos</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <button class="btn btn-primary btn-block">Guardar</button>

            </div>
        </div>
    </div>

</body>
</html>

