<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta />
    <meta charset="UTF-8">
    <meta name="description" content="Web para encontrar trabajo o empleados">
    <meta name="keywords" content="Talenter, Ttrabajo, Work, Match,">
    <meta name="author" content="Adrian Iglesia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/indexStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/Scripts/scripts.js"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-header">
                <a style="color:white" class="navbar-brand" href="#">Talenter</a>
            </div>

            <div class="navbar navbar-nav navbar-right">
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <label for="user" class="sr-only">Password</label>
                        <input id="user" type="text" class="form-control" placeholder="User">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="pass" class="sr-only">Password</label>
                        <input id="pass" type="password" class="form-control" placeholder="Password">
                    </div>
                    <button id="login" type="submit" class="btn btn-primary  mb-2" onclick="validar();"> Login</button>
                    <a class="btn btn-link mb-2" href="http://127.0.0.1:8080/Home/Register" role="link" style="color:white">Register </a>
                </form>
            </div>

        </div>
    </nav>

    <div class="container-fluid" style="margin-top:70px">
        <div class="row">
            <div class="talenter-welcome">
                <div align="center" class="roundBox">
                    <h1 class="tit">Buscamos talentos, somos talentos.</h1>
                    <p class="col-sm-6">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>


            <div class="talenter-empresa">
                <div align="center" class="roundBox">
                    <h3 class="tit">Sos Empresa?</h3>
                    <p class="col-sm-6">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>


            <div class="talenter-talent">
                <div align="center" class="roundBox">

                    <h3 class="tit">Sos Talento?</h3>
                    <p class="col-sm-6">
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum.
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </p>
                </div>
            </div>

        </div>

    </div>

</body>
</html>